<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" target="_blank">
        <img src="./assets/icon.png" alt="logo">
        <h1>Localisation App</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" >
      @if(isLogin) {
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/map"><span nz-icon nzType="team" nzTheme="outline"></span> Show My Children</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/child"><span nz-icon nzType="team" nzTheme="outline"></span> List of children</a>
          </li>

        </ul>
        <ul>

        </ul>
      </li>
      }
      <li nz-submenu nzOpen nzTitle="Authentication" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a (click)="login()"><span nz-icon [nzType]="userIcon" nzTheme="outline"></span> {{isLogin ? (userName ? userName : 'noname' ): 'Login / Register'}}</a>
          </li>
        </ul>
        @if(isLogin) {
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a><span nz-icon nzType="profile" nzTheme="outline"></span> Profile</a>
          </li>
        </ul>
        }
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
